<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals Home Page</title>
</head>

<body>
    <h1>Welcome to the animals home page!</h1>
    <h4>List of animals:</h4>
    <ul>
        <li></li>
    </ul>
    <a href="/getAddAnimal">Add an animal</a>
</body>

</html>